/*Фиксированная высота листа бургеров*/
/*.wrapper {*/
/*  max-height: 664px;*/
/*  overflow-y: auto;*/
/*}*/
/*------------конец-----------------*/

.flex {
  display: flex;
  width: 100%;

  > div {
    flex: 0 0 33.333%;
  }
}

.wrapper {
  height: calc(100vh - 280px);
  scroll-behavior: smooth;
  overflow-y: auto;
}
